/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing:border-box;
    max-width:100%; /*you can never be bigger than your parent - this is going to stop that dreaded horizontal scroll bar*/
    /* border:1px solid red; */
}
/*general styles*/
html{
    font-size:62.5%; /* 1 rem = 10px */
}
body{
    line-height:1.5;
    font-size:1.8rem;
    color:#4F4f4f;
}
h1, h2, h3{
    letter-spacing: 3px;
    text-align:center;
    font-family: 'Gaegu', cursive;
}
h1{
    font-size:5rem;
    color: #FBFFFB;
}
h2{
    font-size:4rem;
}
h3{
    font-size:2.5rem;
}
a{
    text-decoration:none;
    color:#4F4f4f;
}
section{
    padding: 4% 0;
}

/* nav/header styles */
nav {
    width: 100%;
    postition: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(251, 255, 251, .9);
}

nav a {
    color: #266035;
}

.logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img { 
    width: 75%;
}

.links {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header {
    height: 80vh;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

#about {
    background-image: url(../images/about-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20% 0;
    display: flex;
    justify-content: flex-end;
}

#about div {
    width: 25%;
    margin-right: 10%;
}

#shop {
    background-color: rgb(251, 255, 251);
}

.container {
    display: flex;
    text-align: center;
}

.container div {
    width: 50%;
}

.container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.succulents {
    background-image: url('../images/succulants.jpg');
}

.cacti {
    background-image: url('../images/cacti.jpg');
}

.tropical {
    background-image: url('../images/tropicals.jpg');
}

footer {
    background-color: #266035;
    color: #FBFFFB;
}
footer a {
    color: #FBFFFB;
}

.footer-parent {
    display: flex;
}

.left, .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    line-height: 2;
}

.img-wrapper {
    width: 50%;
}

.copyright {
    text-align: right;
    margin-right: 10%;
}

/* tablet styles */
@media(max-width: 800px) {
    * {
        /* border:1px solid cyan; */
    }

    #about {
        background-position: top;
    }

    #about div {
        width: 35%;
        margin-top: 5%;
    }

    .container .text div {
        width: 75%;
    }
}

@media(max-width: 300px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        width: 25%;
    }
    .logo img { 
        width: 75%;
    }
    
    .links {
        width: 100%;
    }

    .cta button {
        display: none;
    }

    #about {
        background-position: right;
        justify-content: center;
    }
    
    #about div {
        width: 60%;
        margin-right: 0;
        /* margin-left: 10%; */
    }

    .container {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    
    .container div {
        width: 90%;
    }
    
    .container .text {
        width: 90%;
    }
    
    .bg {
        height: 60vh;
    }

    .mobile {
        flex-direction: column-reverse;
    }

    .footer-parent {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .left, .right {
        width: 80%;
    }
    
    .text-container {
        text-align: center;
    }
    
    .img-wrapper {
        width: 100%;
    }
    
    .copyright {
        text-align: center;
        margin-right: 0;
    }
}
